<div class="row top-catalog">
    <div class="col-md-6">
        <a href="{{url_for('showCatalog')}}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Catalogs
        </a>
    </div>
    <div class="col-md-6 text-right">
        {%if 'username' not in session %}
        <a href="{{url_for('showLogin')}}">
            <button class="btn btn-default login" id="edit-item">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Login
            </button>
        </a>
        {% else %}
        <a href="{{url_for('disconnect')}}">Logout </a>
        {% endif %}

    </div>
</div>